<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30773421-qp3trene80247fik5vg3e44p12revv6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30773421-qp3trene80247fik5vg3e44p12revv6q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>30773421-j8ut5bu72u4u6152etu987pjb6t4p2g3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpzx-BAC5VU9qYB1fDqlNUJeFhfE6cIOM</string>
	<key>GCM_SENDER_ID</key>
	<string>30773421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thesniffapp</string>
	<key>PROJECT_ID</key>
	<string>thesniffapp</string>
	<key>STORAGE_BUCKET</key>
	<string>thesniffapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30773421:ios:697dc74f1ce7fee9367624</string>
</dict>
</plist>